html {
background: #FFFFFF;
}

body {
font-size: 90%;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.8em;
text-align: center;
}

ul, li, img, body, html {
margin: 0; padding 0;
}

a {
color: #000000;
}

#container {
text-align: left;
}

#container ul,
#container ul li {
list-style-type: none;
}

#header {
background: url(../images/site_admin/header_gradient.png) repeat-x;
position: relative;
padding: 0;
overflow: hidden;
}

#header h1 {
color: #FFFFFF;
font-family: Arial;
font-size: 18pt;
margin: 0; 
padding: 20px 0 25px 20px;
}

#header a {
color: #FFFFFF;
float: right;
margin-right: 15px;
}

li.headlink a {
text-decoration: none;
}

li.headlink ul {
display: none;
}

li.headlink:hover ul {
display: block;
}

#navigation, #navigation ul { 
list-style: none; 
overflow: hidden;
}

#navigation, #navigation * { 
padding: 0; margin: 0; 
}

#navigation li.headlink { 
min-width: 50px; 
float: left; 
margin-left: -1px; 
text-align: left; 
background-color: #FFFFFF;
/*background-image: url(bg.gif);*/
}

#navigation li.headlink a { 
display: block;
padding: 15px;
padding-left: 25px;
}

#navigation a { 
color: black; 
} 

#navigation ul li a:hover { 
text-decoration: none; 
}

#navigation li.headlink ul { 
display: none; 
border-left: 1px black solid; 
border-right: 1px black solid;
border-bottom: 1px black solid;
text-align: left;
/*background-image: url(bg.gif); 
background-position: bottom;*/ 
}

#navigation li.headlink:hover ul { 
display: block;
position: absolute;
background-color: #E8E8E8; 
}

#navigation li.headlink ul li a { 
padding: 15px; 
height: 10px; 
}

#navigation li.headlink ul li a:hover { 
background-color: #B0B0B0; 
}

#breadcrumb {
width: 100%;
background: #E8E8E8;
padding-left: 25px;
}

#content {
width: 1000px;
margin-left: 25px;
}

#content li {
background-color: #F0F0F0;
margin: 15px;
padding: 15px;
width: 600px;
overflow: hidden;
border: 1px solid #D0D0D0;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

#content img {
float: left;
}

#content #description {
float: left;
padding-left: 10px;
}

