html {
background: #e1e1e1;
}

body {
font-size: 90%;
font-family: Verdana, Arial, Helvetica, sans-serif;
line-height: 1.6em;
text-align: center;
}

ul, li, img, body, html {
margin: 0; padding 0;
}

h2 {
background: #2274da;
color: #ffffff;
margin: 0;
padding: .2em .5em;
text-align: left;
font-weight: normal;
font-size: 13pt;
border: 1px solid #2274da;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

#container {
text-align: left;
width: 850px;
margin: auto;
}

#container ul,
#container ul li {
list-style-type: none;
}

#header {
position: relative;
padding: 0 0 25px 0;
}

#header h1 {
color: #418fef;
font-family: "Franklin Gothic Medium";
font-size: 22pt;
}

#header small {
color: #b4b4b5;
font-family: "Franklin Gothic Medium";
font-size: 13pt;
margin: 0em 2em;
}

#header #search {
position: absolute;
top: 1.3em;
right: 0em;
}

#banner {
height: 197px;
margin: 0 0 30px 0;
border: 1px solid #d1d1d1;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
color: #ffffff;
background: url(../images/banner.jpg) no-repeat 15px 15px;
}

#banner h1 {
padding: 1em 0 0 6em;
font-weight: 200;
}

#banner p {
padding: 0em 12em;
font-weight: bold;
}

#navigation {
overflow: hidden;
}

#main div {
overflow: hidden;
}

#level1{
margin-bottom: 2em;
}

#level1 div, #level2 div, #about_level1 div, #qbank_level1 div, #courses_lvl1{

border: 2px solid #d0d0d0;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: .5em .5em;
background: #FFFFFF url(../images/module_gradient.png) repeat-x;

}

#level1 div,
#level2 div {
float: left;
width: 45%;
}

#level1 div p, #level2 div p, #about_level1 div p, #qbank_level1 div p {
margin-top: .3em;
padding: .5em .5em;
text-align: left;
font-size: 10pt;
}

#level1 #login {
position: relative;
margin-left: 3em;
}

#level2 #image {
position: relative;
margin-left: 3em;
}

#level1 #login p {
margin: 0em;
}

#level1 #login #button {
background: #2470db;
color: #ffffff;
position: absolute;
right: 5em;
font-size: 13pt;
border: 1px solid #2470db;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 0px 10px 2px 10px;
}

#footer {
border: 2px solid #d0d0d0;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align: center;
background: url(../images/module_gradient.png) repeat-x;
}


a.tab, a.activetab {
  float: left;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-bottom-width: 0px;
  border-color: #c2c2c2 #c2c2c2 #c2c2c2 #c2c2c2;
  -moz-border-radius: .75em .75em 0em 0em;
  border-radius-topleft: .75em;
  border-radius-topright: .75em;
  padding: 4px 1em 4px 1em;
  position: relative;
  text-decoration: none;
  top: 3px;
  font-weight: normal;
  font-size: 12pt;
  z-index: 100;
  background: #C6C6C6 url(../images/tab_gradient.png) repeat-x;
}

a.tab, a.tab:visited {
  color: #000000;
}

a.tab:hover {
  background: #2274da;
  border-color: #2274da #2274da #2274da #2274da;
  color: #FFFFFF;
}

a.activetab{
  background: #2274da;
  border-color: #2274da #2274da #2274da #2274da;
  color: #FFFFFF;
}

div.tabMain {
  background-color: #e1e1e1;
  border: 2px solid #000000;
  border-color: #2274da #2274da #2274da #2274da;
  -moz-border-radius: .0em .0em .5em .5em;
  padding: 1em;
  position: relative;
  z-index: 101;
  margin-bottom: 2em;
}

div.navBar {
  background-color: #2274da;
  border: 2px solid #000000;
  border-color: #2274da #2274da #2274da #2274da;
  -moz-border-radius: .0em .5em .0em .0em;
  padding: .5em;
  position: relative;
  z-index: 101;
}

#public_courses {
  width: 100%;
  margin-right: 3em;
}