body {
font-size: 13px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul, li, img, body, html, p, h1, form, button {
margin: 0; 
padding: 0;
border: 0;
}

a {
color: #000000;
}

button {
font-size: 13px;
font-family: Verdana, Arial, Helvetica, sans-serif;
padding: 5px 5px 5px 5px;
background-color: #CCCCCC;
color: black;
margin-right: 10px;
}

button:hover {
background-color: #333333;
color: white;
}

.addButton {
padding: 10px 10px 10px 40px;
background-repeat: no-repeat;
background-position: 2px center;
background-image: url('../images/site_admin/add_icon.gif');
margin-bottom: 10px;
margin-right: 0;
float: right;
}

.red {
color: red;
}

.spacer {
clear: both; 
height: 1px;
}

.message {
padding: 15px 10px 15px 50px;
margin: 25px 25px 0 25px;
color: #222;
background-color: #EEE;
background-repeat: no-repeat;
background-position: 10px center;
border: 1px solid #DDD;
}

.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/site_admin/error_icon.png');
border-color: #D8000C;
}

.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/site_admin/warning_icon.png');
border-color: #9F6000;
}

.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image: url('../images/site_admin/success_icon.png');
border-color: #4F8A10;
}

#container {
width: 1000px;
margin: auto;
overflow: hidden;
border: 1px solid #D0D0D0;
}

#container ul,
#container ul li {
list-style-type: none;
}

#header {
background: url('../images/site_admin/header_gradient.png') repeat-x;
position: relative;
padding: 0;
overflow: hidden;
}

#header h1 {
color: #FFFFFF;
font-family: Arial;
font-size: 18pt;
margin: 0; 
padding: 20px 0 25px 20px;
}

#header #logout_link {
color: #FFFFFF;
float: right;
margin-right: 15px;
}

#header a {
color: #FFFFFF;
}


li.headlink a {
text-decoration: none;
}

#navigation, #navigation ul { 
list-style: none; 
overflow: hidden;
}

#navigation, #navigation * { 
padding: 0; margin: 0; 
}

#navigation li.headlink { 
min-width: 50px; 
float: left; 
margin-left: -1px; 
text-align: left; 
background-color: #FFFFFF;
/*background-image: url(bg.gif);*/
}

#navigation li.headlink a { 
display: block;
padding: 15px;
padding-left: 25px;
}

#navigation a { 
color: black; 
} 

#navigation li.headlink ul li a { 
padding: 15px; 
height: 10px; 
}

#navigation li.headlink ul li a:hover { 
background-color: #B0B0B0; 
}

#breadcrumb {
width: 100%;
background: #E8E8E8;
padding-left: 25px;
padding-top: 10px;
height: 25px;
}

#content {
width: 95%;
margin-left: 20px;
}

#content li {
/*background-color: #F0F0F0;*/
margin: 15px;
padding: 15px;
overflow: hidden;
/*border: 1px solid #D0D0D0;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;*/
}

#content img {
float: left;
}

#content #description {
float: left;
padding-left: 10px;
}

/* --- All Forms ---*/
.outter {
background-color:#F5FAF9;
}

.note {
font-family: tahoma;
font-size: 12px;
color: #333333;
border: 1px #55917A solid;
}

.input {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 13px;
border: 1px #A7BEB7 solid;
}

.text {
font-family: tahoma;
font-size: 12px;
color: #617E78;
font-weight: bold;
}

.formHeading {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #55917A;
padding: 0;
}
/*----------------------------------------------------*/

#footer {
text-align: center;
margin-top: 50px;
background: url(../images/site_admin/header_gradient.png) repeat-x;
height: 30px;
color: #FFFFFF;
padding: 20px;
width: 100%;
}